{% extends 'layout.html.twig' %}

{% block content %}
{# <div id="spinner">
	<img src="/assets/images/spinner.gif">
</div> #}

<h2 class="destination-img" style="background-image: url(/assets/images/greenland-6948495_1280.jpg)">Votre destination
</h2>

{{ travel.images }}
{% endblock %}
{% block javascript %}
<script src="/assets/js/spinner.js"></script>
{% endblock %}