{% extends 'layout.html.twig' %}

{% block content %}
	<div id="spinner">
		<img src="/assets/images/spinner.gif">
	</div>

	<div class="py-5 text-center">
		<h2 class="mt-3">Votre destination</h2>
	</div>
{% endblock %}
{% block javascript %}
	<script src="/assets/js/spinner.js"></script>
{% endblock %}
