{% extends 'layout.html.twig' %}

{% block content %}
	<div class="py-5 text-center">
		<h2 class="mt-3">Voyages clé en main</h2>
	</div>
	{% set date = "now"|date("Y-m-d") %}
	<div class="container mt-5">
		<div class="container">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi ea qui quae quisquam optio. Voluptas, ipsa dolor inventore non deleniti fugit accusantium tempore iure tempora nesciunt provident voluptates placeat nam.
		</div>
		<form
			action="">
			{# customer choice #}
			<div class="container mt-5">
				<div class="row">
					<div class="col">
						<p class="p-2">
							<label for="date" class="form-label ">Date de départ</label>
							<input type="text" placeholder="Départ" name="date-d" id="date-d" class="form-control" onfocus="(this.type='date', this.value='{{date}}')"/>
						</p>
					</div>
					<div class="col">
						<p class="p-2">
							<label for="date" class="form-label ">Date d'arrivée</label>
							<input type="text" placeholder="Arrivée" name="date-a" id="date-a" class="form-control" onfocus="(this.type='date', this.value='{{date}}')"/>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="date" class="form-label ">Nombre de personnes</label>
						<input type="number" id="person" name="person" min="0" max="8" required>
					</div>
					<div class="col">
						<label for="date" class="form-label ">Compagnon mystère</label>
						<input type="checkbox" id="guest" name="guest">
					</div>
				</div>
			</div>
			{# END OF customer choice #}
			{# customer payment informations #}
			<div class="container mt-3">
				<div class="py-5 text-center">
					<h2>Paiement</h2>
				</div>
				<div class="py-5 text-center">
					<div class="row g-5">
						<div class="col-md-7 col-lg-8">
							<h4 class="mb-3">Billing address</h4>
							<form class="needs-validation" novalidate>
								<div class="row g-3">
									<div class="col-sm-6">
										<label for="firstName" class="form-label">First name</label>
										<input type="text" class="form-control" id="firstName" placeholder="" value="" required>
										<div class="invalid-feedback">
											Valid first name is required.
										</div>
									</div>

									<div class="col-sm-6">
										<label for="lastName" class="form-label">Last name</label>
										<input type="text" class="form-control" id="lastName" placeholder="" value="" required>
										<div class="invalid-feedback">
											Valid last name is required.
										</div>
									</div>

									<div class="col-12">
										<label for="username" class="form-label">Username</label>
										<div class="input-group has-validation">
											<span class="input-group-text">@</span>
											<input type="text" class="form-control" id="username" placeholder="Username" required>
											<div class="invalid-feedback">
												Your username is required.
											</div>
										</div>
									</div>

									<div class="col-12">
										<label for="email" class="form-label">Email
											<span class="text-body-secondary">(Optional)</span>
										</label>
										<input type="email" class="form-control" id="email" placeholder="you@example.com">
										<div class="invalid-feedback">
											Please enter a valid email address for shipping updates.
										</div>
									</div>

									<div class="col-12">
										<label for="address" class="form-label">Address</label>
										<input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
										<div class="invalid-feedback">
											Please enter your shipping address.
										</div>
									</div>

									<div class="col-12">
										<label for="address2" class="form-label">Address 2
											<span class="text-body-secondary">(Optional)</span>
										</label>
										<input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
									</div>

									<div class="col-md-5">
										<label for="country" class="form-label">Country</label>
										<select class="form-select" id="country" required>
											<option value="">Choose...</option>
											<option>United States</option>
										</select>
										<div class="invalid-feedback">
											Please select a valid country.
										</div>
									</div>

									<div class="col-md-4">
										<label for="state" class="form-label">State</label>
										<select class="form-select" id="state" required>
											<option value="">Choose...</option>
											<option>California</option>
										</select>
										<div class="invalid-feedback">
											Please provide a valid state.
										</div>
									</div>

									<div class="col-md-3">
										<label for="zip" class="form-label">Zip</label>
										<input type="text" class="form-control" id="zip" placeholder="" required>
										<div class="invalid-feedback">
											Zip code required.
										</div>
									</div>
								</div>

								<hr class="my-4">

								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="save-info">
									<label class="form-check-label" for="save-info">Save this information for next time</label>
								</div>

								<hr class="my-4">

								<h4 class="mb-3">Payment</h4>

								<div class="my-3">
									<div class="form-check">
										<input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
										<label class="form-check-label" for="credit">Credit card</label>
									</div>
									<div class="form-check">
										<input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
										<label class="form-check-label" for="debit">Debit card</label>
									</div>
									<div class="form-check">
										<input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
										<label class="form-check-label" for="paypal">PayPal</label>
									</div>
								</div>

								<div class="row gy-3">
									<div class="col-md-6">
										<label for="cc-name" class="form-label">Name on card</label>
										<input type="text" class="form-control" id="cc-name" placeholder="" required>
										<small class="text-body-secondary">Full name as displayed on card</small>
										<div class="invalid-feedback">
											Name on card is required
										</div>
									</div>

									<div class="col-md-6">
										<label for="cc-number" class="form-label">Credit card number</label>
										<input type="text" class="form-control" id="cc-number" placeholder="" required>
										<div class="invalid-feedback">
											Credit card number is required
										</div>
									</div>

									<div class="col-md-3">
										<label for="cc-expiration" class="form-label">Expiration</label>
										<input type="text" class="form-control" id="cc-expiration" placeholder="" required>
										<div class="invalid-feedback">
											Expiration date required
										</div>
									</div>

									<div class="col-md-3">
										<label for="cc-cvv" class="form-label">CVV</label>
										<input type="text" class="form-control" id="cc-cvv" placeholder="" required>
										<div class="invalid-feedback">
											Security code required
										</div>
									</div>
								</div>

								<hr class="my-4">

								<button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			{# END OF customer payment informations #}
		</form>
	</div>
{% endblock %}
