{% extends 'layout.html.twig' %}
{% block content %}
<h2 class="destination-img2 " style="background-image: url({{ userWithTravel.image }})"><p class="destination">{{ userWithTravel.city }}, {{ userWithTravel.country }}</p></h2>
{% endblock %}

