{% extends 'layout.html.twig' %}

{% block content %}

<section>
    <h1 class="background-img">Ne prenez pas votre destin en main on le fait pour vous</h1>

    <div class="container p-4">
        <div class="row p-5 mx-auto introduction shadow-lg">
            <div class="col-xl-10 mx-auto">
                <p class="text-center px-5 py-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic vel
                    perspiciatis quis recusandae odit autem tenetur sed laboriosam qui quasi provident pariatur, quod,
                    fuga tempore, nam est veritatis exercitationem aperiam in iste deserunt officiis. Facere corrupti
                    est beatae voluptatum. Error a dicta quo inventore enim perferendis autem recusandae accusamus
                    possimus odio! Suscipit inventore itaque culpa, voluptatum id repellat placeat quae minima cum quasi
                    magni rerum magnam. Nulla saepe reprehenderit consequuntur a non placeat pariatur? Asperiores quas
                    sit fuga magnam facere explicabo at praesentium odit dolorem aliquid quam laboriosam totam minima
                    quod, rerum consequatur sunt non illo quae aperiam. Ducimus, nihil consequuntur deleniti sed
                    eveniet, quia cum consequatur possimus, earum ea incidunt saepe voluptatibus id doloribus! Iure
                    voluptatem voluptatum illo eaque?
                </p>
            </div>
        </div>

        <div class="m-5 pt-5 d-flex justify-content-center">
            <button class="btn btn-primary btn-lg p-3">Laissez nous votre destin</button>
        </div>

        <div class="row p-5 mx-auto introduction shadow-lg">
            <div class="col-xl-10 mx-auto">
                <p class="text-center px-5 py-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic vel
                    perspiciatis quis recusandae odit autem tenetur sed laboriosam qui quasi provident pariatur, quod,
                    fuga tempore, nam est veritatis exercitationem aperiam in iste deserunt officiis. Facere corrupti
                    est beatae voluptatum. Error a dicta quo inventore enim perferendis autem recusandae accusamus
                    possimus odio! Suscipit inventore itaque culpa, voluptatum id repellat placeat quae minima cum quasi
                    magni rerum magnam. Nulla saepe reprehenderit consequuntur a non placeat pariatur? Asperiores quas
                    sit fuga magnam facere explicabo at praesentium odit dolorem aliquid quam laboriosam totam minima
                    quod, rerum consequatur sunt non illo quae aperiam. Ducimus, nihil consequuntur deleniti sed
                    eveniet, quia cum consequatur possimus, earum ea incidunt saepe voluptatibus id doloribus! Iure
                    voluptatem voluptatum illo eaque?
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}