<header>
	<nav class="navbar navbar-expand nav-color shadow-sm navbar-bottom">
		<div
			class="container-fluid">
			{# left side of navbar #}
			<a class="navbar-brand nav-link" href="/">Destin-E</a>
			{# right side of navbar#}
			<div class="justify-content-end">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{# Register #}
						<li class="nav-item">
							<a class="nav-link" href="/">
								<span class="d-none d-md-inline"> Explore</span>
								<i class="bi bi-globe-americas"></i>
							</a>
						</li>
						{# logon #}
						<li class="nav-item">
							<a class="nav-link" href="/">
								<span class="d-none d-md-inline">About Us</span>
							</a>
						</li>
				</ul>
			</div>
		</div>
	</div>
</nav></header>
