<header>
	<nav class="navbar navbar-expand nav-color shadow-sm navbar-bottom">
		<div
			class="container-fluid">
			{# left side of navbar #}
			<a class="navbar-brand nav-link" href="/">Destin-E</a>
			{# right side of navbar#}
			<div class="justify-content-end">
				<ul
					class="navbar-nav me-auto mb-2 mb-lg-0">
					{# Explore#}
					<li class="nav-item">
						<a class="nav-link" href="/explore">
							<span class="d-none d-md-inline">
								Explore</span>
							<i class="bi bi-globe-americas"></i>
						</a>
					</li>
					{# Mon Voyage #}
					<li class="nav-item">
						<a class="nav-link" href="/">
							<span class="d-none d-md-inline">Mon Voyage</span>
							<i class="bi bi-airplane-fill"></i>
						</a>
					</li>
					{# Mon Compte #}
					<li class="nav-item">
						<a class="nav-link" href="/">
							<span class="d-none d-md-inline">Mon Compte</span>
							<i class="bi bi-person-circle"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav></header>
