
{% extends 'layout2.html.twig' %}


{% block title %}Destin-E - Logout
{% endblock %}
{% block content %}
<style>
  .wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
  }

  .wrapper video {
    width: 100%; 
  }
  
  .wrapper svg { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wrapper svg text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
  }
    
  .wrapper svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
  }
    
  .wrapper svg rect {
    fill: #fff;
  }

  body {
    background-color: white;
  }


  .wrapper:before,
  .wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
  }
  
  .wrapper:before {
    left: -9px;
  }
  
  .wrapper:after {
    right: -5px;
  }

  .margin {
margin-left:19em;
  }
</style>

	{% if errors %}
		{% for error in errors %}
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
		{% endfor %}
	{% endif %}
<div class="wrapper text-center margin">
  <video autoplay playsinline muted loop preload poster="http://i.imgur.com/xHO6DbC.png">
    <source src="https://storage.coverr.co/videos/7RzPQrmB00s01rknm8VJnXahEyCy4024IMG?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjI5MTg2NjA0fQ.M8oElp5VNO8bWEWmdF2nGiu3qDOOYRFfP8wkKvl8I20" />
  </video>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285 80" preserveAspectRatio="xMidYMid slice">
    <defs>
      <mask id="mask" x="0" y="0" width="100%" height="100%" >
        <rect x="0" y="0" width="100%" height="100%" />
        <text x="72" y="50">Merci</text>
      </mask>
    </defs>
    <rect x="0" y="0" width="100%" height="100%" />
  </svg>
</div>
{% endblock %}

